@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/
.eb-garamond {
    font-family: "EB Garamond", serif;
}

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    font-family: "Zen Old Mincho", serif;
    font-weight: 900;
}

body.fixed {
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.changeBg {
    visibility: hidden;
    background: #fff;
    transition: visibility 0s 2s, background 2s linear;
}

.inner {
    width: 950px;
    margin: 0 auto;
}

/*VALIDATE CONTACT*/
.error {
    display: block;
    font-size: 12px;
    color: red;
}

/* LOADING */
#loadingPage {
    display: none;
    background: url('../images/common/bg-loading.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#loadingPage::-webkit-scrollbar {
    display: none;
}

#loadingPage .wrapLoading {
    /* max-width: 1364px; */
    max-width: 95%;
    padding: 5.15vw 2.2vw 3.7vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#loadingPage .wrapLoading .titleLoading {
    display: inline-block;
    width: 90.6%;
    margin-bottom: 2.55vw;
    height: 11.4vh;
}

#loadingPage .wrapLoading .titleLoading img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

#loadingPage .wrapLoading .titleLoadingSub {
    display: inline-block;
    width: 90.2%;
    margin: 0 0 4.45vw 2px;
    height: 31.2vh;
}

#loadingPage .wrapLoading .titleLoadingSub img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

#loadingPage .wrapLoading .loadingImg {
    width: 50.1%;
    margin: 0 0.7% 0 auto;
    height: 27vh;
}

#loadingPage .wrapLoading .loadingImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

.wrapContent {
    /* display: none; */
}

/* HEADER */
#header {
    width: 100%;
}

/* CONTENT */
#content {
    width: 100%;
}

/* FOOTER */
#footer {
    width: 100%;
}

.sp {
    display: none;
}

.hover:hover {
    opacity: 0.7;
}

/* STYLE MOBILE */
@media (max-width: 768px) {
    .hover:hover {
        opacity: 1;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .inner {
        width: 100%;
        padding: 0 4%;
    }

    /* LOADING */
    #loadingPage {
        background: url('../images/common/bg-loading-sp.jpg') no-repeat;
        background-size: cover;
    }

    #loadingPage .wrapLoading {
        padding: 15px 3.5% 10px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #loadingPage .wrapLoading .titleLoading {
        width: 99.7%;
        margin-bottom: 10.05vw;
        max-width: 500px;
    }

    #loadingPage .wrapLoading .titleLoadingSub {
        width: 97.6%;
        margin: 0px 0 14.7vw 1px;
        max-width: 580px;
    }

    #loadingPage .wrapLoading .loadingImg {
        width: 82.8%;
        margin: 0 1px 0 auto;
        max-width: 470px;
    }

    /* MENU */
    .hamburger {
        width: 50px;
        height: 50px;
        padding: 0 5px;
        z-index: 9991;
        background: #ccc;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background: #000;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        margin-bottom: 10px;
    }

    .hamburger span:nth-child(2) {
        opacity: 1
    }

    .hamburger span:nth-child(3) {
        margin-top: 10px;
    }

    .hamburger.open span:nth-child(1) {
        margin-bottom: -2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        margin-top: -2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    @media (orientation: landscape) {
        #loadingPage .wrapLoading {
            padding: 3% 3.5% 3%;
        }

        #loadingPage .wrapLoading .titleLoading {
            height: 17.4vh;
            margin-bottom: 6.05vw;
        }

        #loadingPage .wrapLoading .titleLoadingSub {
            height: 31.2vh;
            margin: 0px 0 4.7vw 1px;
        }

        #loadingPage .wrapLoading .loadingImg {
            height: 33.8vh;
        }
    }

    @media (orientation: portrait) {
        #loadingPage .wrapLoading .titleLoading {
            height: 15.4vh;
        }

        #loadingPage .wrapLoading .titleLoadingSub {
            height: 41.2vh;
        }

        #loadingPage .wrapLoading .loadingImg {
            height: 13.8vh;
        }
    }
}